.headAddress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 15px 20px;
}
.headAddress button {
    color: white;
    background: #0094da;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
.bodyAddress {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
}
.list {
    box-shadow: 0 0 10px rgb(235, 235, 235);
    border: 1px solid #72b4d3;
    border-radius: 5px;
    background: #f2f7fc;
    margin-top: 20px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list h5{
    font-size: 0.95rem;
    font-weight: 600;

}
.list h4{
    font-size: 1.1rem;
    font-weight: 600;
}
.list p {
    max-width: 400px;
    margin: 3px 0;
    font-size: 0.95rem;
    font-weight: 400;
}
.list span {
    margin: 0 1px;
    color: #f37020;
    border: 1px solid #f37020;
    padding: 1px;
    font-size: 0.65rem;
}
.primary , .setPrimary {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.setPrimary{
    color: white;
    background: #0094da;
    cursor: pointer;
}
.primary{
    color: lightgray;
    cursor: not-allowed;
}
.action{
    display: flex;
    color: #0094da;
    margin-top: 10px;
}
.action p{
    font-weight: 600;
    font-size: small;
    padding-right: 20px;
}
.delete{
    border-left: 1px solid rgba(128, 128, 128, 0.432);
    padding: 0 20px;
}
.setPrimary:hover,
.headAddress button:hover {
    background: #0081bd;
}
