.Container {
  padding: 0 50px;
  margin-bottom: 100px;
  color: #666666;
}
.empty{
  text-align: center;
  margin-top: 140px;
  color: #444444;
}
.child{
  color: #888888;
}
.message, .child, .btn{
  margin-top: 13px;
}
.btn{
  background: #0094da;
  border: none;
  cursor: pointer;
  width: 180px;
  height: 40px;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 10px;
}
.cs{
  display: flex;
  align-items: center;
}
.cs .check{
  margin-right: 20px;
}
.all {
  display: flex;
  align-items: center;
  box-shadow: 0 0 6px rgba(161, 161, 161, 0.308);
  border-radius: 10px;
  padding: 15px 30px;
  background: white;
}
.all p {
  margin-left: 20px;
  font-weight: 500;
  font-size:0.95rem;
} 
.store {
  box-shadow: 0 0 6px rgba(161, 161, 161, 0.308);
  border-radius: 10px;
  margin: 25px 0;
  background: white;
}
.head {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(206, 206, 206, 0.514);
  padding: 15px 30px;
}
.pro{
  display: flex;
  padding: 15px 35px;
}
.body {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.title{
  margin-left:15px;
}
.title h3{
  font-weight: 500;
  font-weight: 400;
}
.title span{
  margin-bottom:8px;
  margin-top:3px;
  color: rgb(167, 167, 167);
  font-size: 0.85rem;
}
.title h4{
  color: #f37020;
}
.right{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.right a {
  margin-left:20px;
  cursor: pointer;
}
.count {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  width: fit-content;
  border-radius: 10px;
  margin-top :10px; 
}
.count span{
  padding: 8px 10px;
  cursor: pointer;
}
.count h4{
  margin:0 20px
}
.action {
  display: flex;
  align-items: center;
  justify-content:flex-end;
}
@media (max-width:800px){
    .Container{
      padding: 0;
    }
}