.modal{
    display: flex;
    align-items: center;
    justify-content: center;
}
.paper {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 40px;
    width: 500px;
    height: 500px;
}
.paper h2{
    color: #404040;
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.25rem;
}
.name,.check{
    display: flex;
    align-items: center;
}
.check{
    justify-content: right;

}
.check  label{
    color: #808080;
    margin-left: 10px;
}
.button{
    text-align: center;
}