.components {
  display: flex;
  color: #666666;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px lightgray;
  margin-left: 20px;
  margin-right: 20px;
}
@media (max-width: 800px) {
  .children {
    padding: 0;
  }
  .content{
    margin: 0;
  }
}
