.components {
  display: flex;
  color: #666666;
}
.children {
  margin: 90px 70px;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px lightgray;
  margin-left: 20px;
  margin-right: 20px;
}
.container{
  display:grid;
  grid-gap:1rem ;
  grid-template-columns: repeat(auto-fit,minmax(180px, 1fr));
}
@media (max-width: 800px) {
  .children {
    margin:80px 10px;
  }
  .content{
    margin: 0;
  }
}
