.box, .empty {
  top: 60px;
  right: 10vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  width: 400px;
  background: #ffff;
  z-index: 99;
  color: #5d5e5f;
  padding:0 10px;
  border-radius: 10px;
  cursor: default;
}
.empty{
  text-align: center;
  padding: 20px;
}
.message{
  margin-top: 15px;
}
.head {
  padding: 15px 0;
  display: flex;
  justify-content:space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;

}
.body {
  max-height: 350px;
  min-height: fit-content;
  overflow: auto;
  padding: 10px 10px;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  flex: 1;
  margin: 0px 10px;
}
.title span {
  font-size: 0.7rem;
}
.price {
  color: #f37020;
  font-weight: 500;
}
.link{
  font-size: 0.8rem;
  font-weight: 600;
  color:#0070f3;
}
