.box {
  top: 60px;
  right: 3vw;
  position: absolute;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  width: 300px;
  background: #ffff;
  z-index: 99;
  color: #707070;
  border-radius: 3px 3px 10px 10px;
  cursor: default;
}
