.box {
  top: 60px;
  right: 3vw;
  position: absolute;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  width: 300px;
  background: #ffff;
  z-index: 99;
  color: #707070;
  border-radius: 3px 3px 10px 10px;
  cursor: default;
}
.header {
  display: flex;
  justify-content: space-between;
}
.head {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 50%;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
.head h3 {
  max-width: 20px;
}

.navigasi {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.navigasi:hover,
.head:hover {
  background: rgba(211, 211, 211, 0.164);
  color: #0070f3;
}
.icon {
  margin-right: 5px;
}
