.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  max-width: 20vw;
  min-width: 14vw;
  box-shadow: 0 2px 4px 0 rgba(49, 49, 49, 0.253);
  margin-right: 10px;
}
.image {
  border-radius: 8px 8px 0 0;
}
.content {
  padding: 15px 10px;
  color: #666666;
}
.content h5 {
  font-weight: 400;
}
.content h4 {
  font-size: 0.9rem;
  color: #f37020;
}

@media (max-width:800px){
    .container{
        min-width:100%;
    }
}
