.container {
  color: #444444;
  cursor: default !important;
}
.content {
  display: flex;
}
.detail {
  flex: 1;
}
.rate {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.rate h5 {
  color: #777777;
  margin-left: 4px;
}
.rate p {
  color: #888888;
  font-weight: 400;
  font-size: 0.8rem;
}
.star {
  display: grid;
  place-items: center;
  min-height: 100%;
}
.per,
.star p {
  color: #888888;
  font-size: 0.8rem;
  font-weight: 400;
}
.nav {
  display: flex;
  align-items: center;
  color: #555555;
  margin:25px 0;
}
.navList{
  display: flex;
  justify-content: space-between;
  width: 330px;
  margin-left: 10%;
}
.nav button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 30px;
  padding:0 10px;
  border: 1px solid lightgray;
  background: #f9f9f9;
  border-radius: 10px;
  color: #555555;
  cursor: pointer;
}
.Comment{
  display:flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 20px 0;
  cursor: default;
}
.Comment h5{
  color:#0094da;
}
.profile{
  display: flex;
}
.profile p{
  font-size: small;
  color: #999999;
}
.comment{
  flex: 1;
  margin-left: 60px;
}
.comment p{
  color: #555555;
}
.action{
  display: flex;
  align-items: center;
  color: #555555;
}
.action span{
  font-size: small;
}