.content {
    margin-top: -40px;
    padding: 0 25px;
}
/* dashboard seller */
.container {
    margin-bottom: 20px;
    display: flex;
    grid-gap: 1vw;
    color: #444444;
}
.container h5 {
    color: #888888;
    font-weight: 500;
    letter-spacing: 1px;
}
.container h1 {
    font-weight: 600;
}
.box,
.box1,
.boxMoney {
    background: white;
    box-shadow: 0 0 3px rgb(184, 184, 184);
    max-width: 100%;
    border-radius: 5px;
    display: flex;
    padding: 0 20px;
}
.box {
    width: 22%;
    flex-direction: column;
    justify-content: center;
    height: 120px;
}
.box1 {
    width: 34%;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
.boxMoney {
    width: 50%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}
.boxMoney h1,
.boxMoney h5 {
    direction: rtl;
}
.boxIcon {
    background-color: #0094da;
    padding: 10px;
    border-radius: 5px;
    color: white;
}
.dateOrder{
    font-size: 0.7rem;
    font-weight: 500;
    margin-bottom: 5px;
    color: #444444;
}
.dateOrder span{
    font-size: 0.7rem;
    color: #0094da;
    cursor: pointer;
}
.dateOrder span:hover{
    text-decoration: underline;
}
.menuHead{
    text-align: center;
    font-size: small;
}
.menu{
    max-height: 100px;
}
/* product seller*/
.paper {
    margin: -40px 25px 0 25px;
    background: white;
    box-shadow: 0 0 3px rgb(184, 184, 184);
}
.head{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #444444;
    margin-bottom: 10px;
}
.head button{
    border: none;
    color:white;
    background: #0094da;
    padding:10px 15px;
    border-radius: 10px;
    font-weight: 700;
}
.inputPrice{
    display: flex;
    background-color: #f3f4f6;
    height: 35px;
    max-width: 170px;
    border: #e6e8e7 1px solid;
    border-radius: 10px;
}
.inputPrice:focus-within, .input:focus{
    border: #0094da 1px solid;
}
.inputPrice h4{
    margin: 7px 10px;
    color: #444444;
}
.inputPrice input{
    border: none;
    outline: none;
    padding: 0 10px;
    width: 100%;
    border-radius: 0 10px 10px 0;
}
.one {
    display:flex;
    flex-direction: row;
    align-items: center;
    color: #444444;
}
.input{
    outline: none;
    height:35px;
    border: #e6e8e7 1px solid;
    border-radius: 10px;
    max-width: 100px;
    padding: 0 10px;

}
.name{
    margin-left: 15px;
    max-width: 230px;
}
